{{>head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Adaptador PVC</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/upr_pvc.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer}}